@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
h6 {
    color: white;
    font-size: 55px;
    font-family: 'Caveat', cursive;
    text-align: center;
}

body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}